# Virtual Environment
env/

# Dependencies
node_modules/

# Python Cache
__pycache__/
*.pyc

# Database & Logs
*.sqlite3
*.log
/media/

# Environment & Credentials
.env
firebase-credentials.json
local.properties
*.keystore

# ML Models
*.onnx
*.pt
app/models/**/*.onnx
app/models/**/*.pt

# Build Outputs, Android & Desktop Electron
dist/
build/
frontend/dist/
frontend-android/dist/
frontend-desktop/dist/
frontend-desktop/electron/app/
frontend-desktop/electron/dist/
frontend-desktop/electron/make/
*.apk
*.exe
*.blockmap
.gradle/
.jdk17/
.vscode/
.idea/